<table cellspacing="0" cellpadding="0" style="margin:0 auto;padding:0;width:100%;max-width:630px;font-family:'\00b3cb\00c6c0',dotum">
    <tbody>
    <tr>
        <td style="padding:50px 20px;background:#fff">
            <table cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td>
                        <img src="https://vlink-data.s3.ap-northeast-2.amazonaws.com/logo.png" width="125" alt="브이링크">
                    </td>
                </tr>
                <tr>
                    <td style="padding:27px 0 17px;font-size:30px;line-height:34px;color:#333">
                        <strong style="color:#e70012;font-weight:normal">파트너스 문의내용</strong><br>
                    </td>
                </tr>
                <tr>
                    <td th:text="${contact_context}">
                    </td>
                </tr>
                <tr>
                    <td th:text="${partners_name}">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>




