<head>
    <th:block th:include="/header2"></th:block>
    <script src="./js/partners/rePassword.js"></script>
</head>

<style>
    #sign_btn{float:right;margin-top:20px;}
    .form-group{margin-bottom: 35px;}
    .grid-header{font-size:20px;}
    .equel-grid .grid{padding-bottom: 40px;}
    #lock_img{width: 100%;}
</style>
<div class="page-content-wrapper">
    <div class="page-content-wrapper-inner">
        <div class="content-viewport">
            <div class="row">
                <div class="col-lg-8 equel-grid">
                    <div class="grid">
                        <p class="grid-header">비밀번호 변경</p>
                        <div class="grid-body">
                            <div class="item-wrapper">
                                <form>
                                    <div class="form-group row showcase_row_area">
                                        <div class="col-md-3 showcase_text_area">
                                            <label for="current_pwd">현재 비밀번호</label>
                                        </div>
                                        <div class="col-md-9 showcase_content_area">
                                            <input type="password" class="form-control" id="current_pwd" placeholder="Enter your password">
                                        </div>
                                    </div>
                                    <div class="form-group row showcase_row_area">
                                        <div class="col-md-3 showcase_text_area">
                                            <label for="new_pwd">새 비밀번호</label>
                                        </div>
                                        <div class="col-md-9 showcase_content_area">
                                            <input type="password" class="form-control" id="new_pwd" placeholder="Enter your new password">
                                        </div>
                                    </div>
                                    <div class="form-group row showcase_row_area">
                                        <div class="col-md-3 showcase_text_area">
                                            <label for="new_pwd2">새 비밀번호 확인</label>
                                        </div>
                                        <div class="col-md-9 showcase_content_area">
                                            <input type="password" class="form-control" id="new_pwd2" placeholder="Enter your new password">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary" id="sign_btn" onclick="modifyPwd()">변경하기</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 equel-grid">
                    <img src="./img/ai1.PNG" id="lock_img"/>
                </div>
            </div>
        </div>
    </div>
    <!-- content viewport ends -->
    <!-- partial:../../partials/_footer.html -->

</div>