#sign_btn{float: right;margin-top: 20px;width: 100%;background: #ea4347;border: 1px solid #ea4347;}
.form-group{margin-bottom: 35px;}
.grid-header{font-size:20px;}
.equel-grid .grid{padding-bottom: 40px;}
#lock_img{width: 100%;}


.grid-header{background:white;    border-left: 3px solid #ea4347;}